<!DOCTYPE html>
<html ng-app="till">
  <head>
    <title>A Till for Charging Hipsters Money</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/tillcontroller.js"></script>
    <script src="js/controllers/pricecontroller.js"></script>
  </head>

  <body ng-controller="TillCtrl">
    <div class="row text-center">
      <div class="col-md-6">
        <button class="btn btn-default" ng-click="toggleDrinks()">Drinks</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-default" ng-click="toggleCakes()">Cake</button>
      </div>
    </div>
    <div class="row text-center">
      <button class="btn btn-default" ng-click="showReceipt()">Show Receipt</button>
    </div>

    <div class="row text-center" ng-show="cakes">
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Choc Mudcake')">Choc Mudcake</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Choc Mousse')">Choc Mousse</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Affogato')">Affogato</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Tiramisu')">Tiramisu</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Blueberry Muffin')">Blueberry Muffin</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Chocolate Chip Muffin')">Chocolate Chip Muffin</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Muffin Of The Day')">Muffin Of The Day</button>
      </div>
    </div>

    <div class="row text-center" ng-show="drinks">
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Cafe Latte')">Cafe Latte</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Flat White')">Flat White</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Cappucino')">Cappucino</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Single Espresso')">Single Espresso</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Double Espresso')">Double Espresso</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Americano')">Americano</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Cortado')">Cortado</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" ng-click="addSelection('Tea')">Tea</button>
      </div>
    </div>

    <div class="row" ng-show="receipt">
      <div class="col-md-12" ng-repeat="item in selection">
        <div class="col-md-4">
          {{ item.name }}, {{ item.price }}
        </div>
      </div>
    </div>

  </body>
</html>
